// brand color scheme:
$primary-bg-color: #fff;
$secondary-bg-color: #000;
$tertiary-text-color: #b8b2b2cc;
// btn vfxs:
$button-hovers: #000000d5;
// logo color scheme:
$logo-gradient-orange: #ffc593;
$logo-gradient-rose: #bc7198;
$logo-gradient-blue: #5a77ff;
// typography:
$text-sm: 12px;
$text-md: 15px;
$text-lg: 40px;
$text-uppercase: uppercase;
$text-weight: bold;
